@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600,700|Montserrat:400,600,700&display=swap');
/* font-family: 'Montserrat', sans-serif
font-family: 'Montserrat Alternates', sans-serif;*/


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 0;
    display: block;
    background-image: url(https://avatanplus.com/files/resources/original/579087ee025ce1560c92f9ba.jpg);
    opacity: 0.8;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}
.title_list{
    text-align: center;
    padding: 10px 50px;
    font: 600 150px 'Montserrat', sans-serif;
    color: darkred;
};

.inputsForm {
    margin: 0 auto;
}
input{
    margin: 0 10px;
    padding: 10px;
    border: 1px solid darkred;
    border-radius: 5px;
    font: 400 16px 'Montserrat', sans-serif;
    color: darkgrey;
}
#toDoText{
    width: 500px;
    height: 20px;
}
#toDoDate{
    width: 200px;
    height: 20px;
}
#toDoBtn{
    width: 200px;
    margin: 40px;
    padding: 10px;
    border: 1px solid darkred;
    border-radius: 5px;
    font: 400 16px 'Montserrat', sans-serif;
    background: dimgrey;
    color: white;
}
#toDoBtn:hover{
    border: 1px solid dimgrey;
    color: #fff;
    background: darkred;
    cursor: pointer;
}
.toDo_all{
    margin: 20px 0;
    padding: 30px 0 ;
    display: flex;
    justify-content: center;
    background-color: rgba(167, 167, 167, 0.5);
}
#newToDo, #poopToDo, #doneToDo{
    width: 300px;
    height: 400px;
    background: #ffffff;
    border: 1px solid darkred;
    margin: 10px 30px;
    border-radius: 5px;

}
.materialBtn, .closeBtn, .materialBtnNew, .closeBtnNew, .materialBtnFinisch{
    font-size: 20px;
    color: darkred;
    border: none;
    background: none;
    width: 20px;
    padding: 0;
    margin: 0 3px;
    cursor: pointer;

}

ul{
    list-style-type: decimal;
    padding-inline-start: 15px;
}
.adding{
    text-align: right;
    margin-right: 15px;
}
li {
padding: 15px 0;
}


#closDoneToDo, #closNewToDo, #closPoopToDo{
    width: 300px;
    margin: 0 30px;
    padding: 10px;
    border: 1px solid darkred;
    border-radius: 5px;
    font: 400 16px 'Montserrat', sans-serif;
    background: dimgrey;
    color: white;
}
h4{
    text-align: left;
    margin: 0 35px;
    font: 600 25px 'Montserrat', sans-serif;
    color: darkred;
}


.listItem{

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkred;
}

.inputDiv{
    display: flex;
}
label{
    margin-right: 20px;
}
.labelTxt{
    font: 600 16px 'Montserrat', sans-serif;
}
.labelDate{
    font: 14px 'Montserrat', sans-serif;
    font-style: italic;
    color: darkred;
}

#textError{
    font: 500 20px 'Montserrat', sans-serif;
    color: darkred;
    text-align: center;
    display: block;
    margin: 0 auto;
}
